@import "tailwindcss";

:root {
  /* Light Mode Colors */
  --bg-start: #F9FAFB;
  --bg-end: #E5E7EB;
  --surface-start: #FFFFFF;
  --surface-end: #F3F4F6;
  --accent-start: #84CC16;
  --accent-end: #BEF264;
  --text-primary: #111827;
  --text-muted: #6B7280;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode Colors */
    --bg-start: #0F172A;
    --bg-end: #020617;
    --surface-start: #1E293B;
    --surface-end: #0F172A;
    --accent-start: #84CC16;
    --accent-end: #BEF264;
    --text-primary: #E5E7EB;
    --text-muted: #94A3B8;
  }
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
